node_modules
.history
docs
examples
assets/css
assets/demo
examples/

.npmignore
bower.json
changelog.md
gulpfile.js
index_demo.html
issue_template.md
license.md
package-lock.json
readme.md
template.html
robots.txt

